body{
    font-family: FFDINWebLight,'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

.topbar {
    background-color: #4c5fab;
    color: rgba(255,255,255,0.90);
    font-weight: bold;
    vertical-align: middle;
}

/* Top-Bar */

.topbar-left {
    float: none;
    text-align: center;
}

.topbar-right {
    float: none;
    text-align: center;
}

@media (min-width: 768px) {
    .topbar-left {
        float: left;
        text-align: left;
    }

    .topbar-right {
        float: right;
        text-align: right;
    }
}


.motto {
    line-height: 33px;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.get-connected
{
    line-height: 33px;
    font-size: 13px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;   
}

@media (min-width: 768px) {
 .motto {
        padding-top: 3px;
        padding-bottom: 2px;  
    }
 .get-connected {
        padding-top: 3px;
        padding-bottom: 2px;  
    }
}

ul.get-connected li a
{
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px; 
    font-size: 14px;
    text-align: center;
} 

ul.get-connected li a:hover
{
    background-color: #0B84B3;
} 

/* /Top-Bar */

/* Sticky */

.sticky
{
    height: 79px;
    background-color: #ffffff !important;
    opacity: 0.9 !important;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
    vertical-align: middle;
}

.sticky-container
{
    padding-left: 10px;
}

.sticky-left
{
    height: 79px;
    float: left;
    white-space: nowrap;    
    text-align: center;
}

.header-logo-helper
{
    height: 100%;
    display: inline-block; 
    vertical-align: middle;
}

.header-logo {
    vertical-align: middle;
    max-height: 79px;
    height: 49px;
}

.sticky-right
{
    height: 79px;
    float: right;
}


/* /Sticky */

/* Carousel */
.main-carousel{
    height: 500px;
    background-image: url("../images/carousel/slider-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    top: -117px;
    z-index: -1;
}

/* /Carousel */

/* Content */



.main-is {
    background-color: #e6e6e6;
    position: relative;
    top: -90px;
    padding-bottom: 40px;
}

.is-section-img {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
}

.is-section-head {
    font-size: 18px;
    text-align: center;
    font-weight: 900;
}

.is-insurance { color: #4b5eaa; }

.is-fleet { color: #9e1f63; }

.is-aftermarket { color: #fbaf40; }

.is-description{    color: #6b6b6b; }

.is-description a {
    color: #4b5eab; 
    text-decoration: underline;
}

.about
{
    position: relative;
    top: -90px;
    background: linear-gradient(#2d3866 0%, #4b5eaa 11px, #4b5eaa 100%);
}

.about-content
{
    padding-top: 80px;
    padding-bottom: 80px; 
    color: #ffffff;
}

.about-content h3
{
    font-size: 20px;
}

.about-link
{
    text-align: right;
}

.about-link a
{
    color: #fff; 
    text-decoration: underline;
}

.achievements
{
    position: relative;
    top: -90px;
    background: url("../images/bigroad.jpg")
}

.achievements-container
{
    padding-top: 80px;
    padding-bottom: 114px;
}

.achievements-box {
    background-color: #FFF;
    font-size: 14px;
    color: #9d1e63;
    opacity: 0.9;
    padding-top: 20px;
    min-height: 239px;
}

/* /Content */