body {
    font-family: FFDINWebLight,'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

pre { margin: 0; padding: 10px 20px !important; z-index: -1; }


/* Top-Bar */

.topbar {
    background-color: #4c5fab;
    color: rgba(255,255,255,0.90);
    font-weight: bold;
    vertical-align: middle;
}



.topbar-left {
    float: none;
    text-align: center;
}

.topbar-right {
    float: none;
    text-align: center;
}

@media (min-width: 768px) {
    .topbar-left {
        float: left;
        text-align: left;
    }

    .topbar-right {
        float: right;
        text-align: right;
    }
}


.motto {
    line-height: 33px;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.get-connected
{
    line-height: 33px;
    font-size: 13px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;   
}

@media (min-width: 768px) {
 .motto {
        padding-top: 3px;
        padding-bottom: 2px;  
    }
 .get-connected {
        padding-top: 3px;
        padding-bottom: 2px;  
    }
}

ul.get-connected li a
{
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px; 
    font-size: 14px;
    text-align: center;
} 

ul.get-connected li a:hover
{
    background-color: #0B84B3;
} 

/* /Top-Bar */

/* Top-Menu */

   .navbar {
    border-radius: 0px;
    }

    .dropdown-menu {
        border-radius: 0px; 
    }

    .topmenu {
        background-color: #ffffff;
        opacity: 0.9;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
        vertical-align: middle;
        z-index: 10;
        left: 0px;  
        right: 0px;
    }

    /* - toggle */
    .topmenu .navbar-toggle {
        border-color: #ddd;
    }

    .topmenu .navbar-toggle:focus, .topmenu .navbar-toggle:hover {
        background-color: #ddd;
    }

    .topmenu .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .topmenu .icon-bar+.icon-bar {
        margin-top: 4px;
    }

    .topmenu .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    /* /- toggle */


    /* total height */

    img.header-logo
    {
        z-index: 100;
        height: 49px;
    }

    .topmenu {
        height: 79px;
    }

    /* / total height */

    /* main element aligment */

    @media (min-width: 768px) {
        .topmenu-content {
            float: right;
        } 
    }

    /* - main element aligment */

    /* - affix & height */

    @media (max-width: 991px) {
        .topmenu.affix {
            position: relative;
        }

        .topmenu.affix-top
        {
            position: relative;
        }
    }

    @media (min-width: 992px) {

        .topmenu.affix-top {
            height: 79px;
            position: fixed;
        }

        .topmenu.affix {
            top: 0;
            height: 73px;
            position: fixed;
        }

        .topmenu.affix-top .topmenu-container .topmenu-header .topmenu-brand a img.header-logo {
            height: 49px;
        }

        .topmenu.affix .topmenu-container .topmenu-header .topmenu-brand a img.header-logo {
            margin-top: 4px;
            height: 35px;
        }

        .topmenu.affix-top .topmenu-container .topmenu-content .topmenu-list {
            height: 79px;
        }

        .topmenu.affix .topmenu-container .topmenu-content .topmenu-list {
            height: 73px;
        }

        .topmenu.affix-top .topmenu-container .topmenu-content .topmenu-list li.topmenu-link-l1 > a {
            line-height: 78px;
        }

        .topmenu.affix .topmenu-container .topmenu-content .topmenu-list li.topmenu-link-l1 > a  {
            line-height: 72px;
        }
    }

    /* /- affix & height */

    /* - collapsed menu view */

    .topmenu-content.collapsing {
        background-color: #ffffff;
        opacity: 1; 
    }
    
    .topmenu-content.collapse.in {
        background-color: #ffffff;
        opacity: 1; 
    }

    @media (max-width: 767px) {
        .topmenu{
            opacity: 1; 
        }

        .topmenu-content{
            margin-top: 30px;
        }
    }

    /* /- collapsed menu view  */

    /* - is-sub-menu */

    .yamm .yamm-content.is-sub-menu 
    {
        padding: 0px;
    } 

    .is-sub-menu .row
    {
        margin: 0px;
    }

    div.is-sub-menu-item {
        padding: 0px;
    }

    div.is-sub-menu-item a {
        text-align: center;
        text-transform: uppercase;
    }

    div.is-sub-menu-item a img {
        width: 100%;
        opacity: 1; /* Do not work */
    }

    a.is-insurance { color: #4b5eaa; }

    a.is-fleet { color: #9e1f63; }

    a.is-aftermarket { color: #fbaf40; }

    a.is-links:hover { 
        color:  #1abc9c; 
        text-decoration: none;
    }

    a.is-links{
        padding: 0px;
    }

    @media (max-width: 767px) {
        div.is-sub-menu-item a img {
            width: 72%; 
        }

        div.is-sub-menu-item  {
            padding-top: 28px;
        }
    }

    /* /- is-sub-menu  */

    /* - topmenu content transformations */

    .topmenu-list.nav > li > a
    {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        letter-spacing: 1px;
        color: #333333;
        height: 100%;
        background-color: transparent;
    }

    .topmenu-list.nav > li.active > a {
        color: #4c5faa;
        background-color: transparent;
    }

    .topmenu-list.nav > li > a:hover {
        color: #4c5faa;
        background-color: transparent;
    }

    .topmenu-list.nav > li > a:active {
        color: #4c5faa;
        background-color: transparent;
    }

    .topmenu-list.nav > li > a:focus {
        color: #4c5faa;
        background-color: transparent;
    }

    .topmenu-list.nav > li.topmenu-link-search > a {
        padding-right: 0px;
        font-size: 14px;
    }


    @media (min-width: 768px) {
        .topmenu-link-l1 {
            border-top: 1px solid transparent;
        }

        .topmenu-link-l1:hover {
            border-top: 1px solid #4c5faa;
        }

        .topmenu-link-l1.topmenu-link-search  {
            border-top: 0px none transparent;
        }

        .topmenu-link-l1.topmenu-link-search:hover {
            border-top: 0px none transparent;
        }
    }


    @media (max-width: 1199px) {
        .topmenu-list.nav > li > a {
            padding-right: 8px;
            padding-left: 8px;
        }
    }

    @media (max-width: 991px) {
        .topmenu-list.nav > li > a {
            padding-right: 4px;
            padding-left: 4px;
            letter-spacing: 0px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px)
    {
        .topmenu-content{
            padding-right: 1px;
            padding-left: 1px;  
        }

        .topmenu-link-home {
            display: none !important;
        }

        .topmenu-list li.topmenu-link-l1 > a {
            line-height: 78px;
        }

       .topmenu-header .topmenu-brand a img.header-logo {
            margin-top: 4px;
            height: 35px;
        }
    }


    /* /- topmenu content transformations  */

/* /Top-Menu */

/* Carousel */

.main-carousel-section { 
    height: 500px;
    z-index: -1;
}
 

.main-carousel-item > div {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top; 
}

    @media (max-width: 1199px) {        
        .main-carousel-section { 
            height: 480px;
        }

        .main-carousel-item > div {
            height: 480px;
        }
    }

    @media (max-width: 991px) {
        .main-carousel-section { 
            display: none;
        }
    }

    @media (max-width: 767px) {
        .main-carousel-section { 
            height: 380px;
        }

        .main-carousel-item > div {
            height: 380px;
        }
    }

.main-carousel-item-1
{
    background-image: url("../images/carousel/slider-01.jpg");  
}

.main-carousel-item-2
{
    background-image: url("../images/carousel/slider-02.jpg");  
}

.main-carousel-item-3
{
    background-image: url("../images/carousel/slider-03.jpg");  
}

.main-carousel-item-4
{ 
    background-image: url("../images/carousel/slider-04.jpg");  
}

.highlight{
  background-color: #ffffff !important;
  opacity: 0.9 !important;
  margin-top: 250px;
  width: 560px;
  height: 164px;
  color: #4b5eab;
  padding: 10px;
}

.highlight-right{
    float: right;
}

.highlight > h3 {
    margin-top: 0px;
}

.highlight-link {
    padding: 4px;
    float: right;
    background-color: #4b5eab;
    color: #ffffff;
}

.highlight-link > a {
    color: #ffffff;
    text-decoration: none;
}



.main-carousel-inner > .owl-nav {
    position: relative;
    top: -50px;
    font-size: 32px;
    line-height: 50px;
}

.main-carousel-inner > .owl-nav > .owl-prev{
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
}

.main-carousel-inner > .owl-nav > .owl-prev:hover{
    color:  #ffffff;
    background-color: #1abc9c;
} 


.main-carousel-inner > .owl-nav > .owl-next{    
    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
}

.main-carousel-inner > .owl-nav > .owl-next:hover{
    color:  #ffffff;
    background-color: #1abc9c;
} 

.main-carousel-inner > .owl-dots {
    position: relative;
    top: -20px;
    text-align: center;
}

.main-carousel-inner > .owl-dots > .owl-dot {
    color:  rgba(255,255,255,0.80);
    background-color: rgba(255,255,255,0.80);
    display: inline-block;
    width: 11px;
    height: 11px;
    line-height: 11px;
    border-radius: 11px; 
    font-size: 8px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.main-carousel-inner > .owl-dots > .owl-dot.active {
    color:  #1abc9c;
    background-color: #1abc9c;
}

/* /Carousel */

/* Content */
/* IS - Inndustry Solutions */
.main-is {
    background-color: #e6e6e6;
    padding-bottom: 40px;
    padding-top: 32px;
}

    @media (max-width: 991px) {
        .main-is {
            padding-top: 0px;
        }
    }

.is-section-img {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
}

.is-section-head {
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 15px;
}

.is-insurance { color: #4b5eaa; }

.is-fleet { color: #9e1f63; }

.is-aftermarket { color: #fbaf40; }

.is-description{    color: #6b6b6b; }

.is-description a {
    color: #4b5eab; 
    text-decoration: underline;
}
/* /IS - Inndustry Solutions */
/* About */
.about
{
    background: linear-gradient(#2d3866 0%, #4b5eaa 11px, #4b5eaa 100%);
}

.about-content
{
    padding-top: 80px;
    padding-bottom: 80px; 
    color: #ffffff;
}

.about-content h3
{
    font-size: 20px;
}

.about-link
{
    text-align: right;
}

.about-link a
{
    color: #fff; 
    text-decoration: underline;
}
/* /About */
/* Achievements */
.achievements
{
    background: url("../images/bigroad.jpg")
}

.achievements-container
{
    padding-top: 80px;
    padding-bottom: 114px;
}

.achievements-box {
    background-color: #FFF;
    font-size: 14px;
    color: #9d1e63;
    opacity: 0.9;
    padding-top: 20px;
    min-height: 239px;
}

.achievements-box-top {
        text-align: center;
    }

.achievements-box-middle {
        text-align: center;
        font-size: 74px;
    }  

.achievements-box-bottom {
        text-align: center;
    }    
/* /Achievements */

/* Customers */
.customers {
    background: linear-gradient(to bottom, #999 0, #e6e6e6 7px, #e6e6e6 100%);
}

.customers-container{
    min-height: 279px;
}

.customers-content h2 {
    color: #4c5fab;
    font-size: 20px;
    padding-top: 25px;
}

.customers-link {
    text-align: right;
}

.customers-link a {
    color: #4c5fab;
    text-decoration: underline;
}

.customer-carousel {
    margin-bottom: 59px;
}

.customer-item {
    padding-top: 32px;
}

.customer-item-img {
    max-width: 204px;
    max-height: 84px;
}
/* /Customers */

/* Basement */
.basement-scroll{
    /*height: 20px;*/
}

.basement {
    background-color: #666666;
    color: rgba(255,255,255,0.28);
    z-index: -1;
}

.basement h3 {
    color: rgba(255,255,255,0.80);
}

.basement-widget-header {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 15px;
}

.basement-widget-header-bottom {
    background-color: #1abc9c;
    width: 70px;
    height: 2px;
    margin-left: 0px;
    margin-bottom: 25px;
}

.basement ul, .basement ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.basement ul > li {
    list-style: none;
    padding: 13px 0;
    border-top: 1px solid rgba(255,255,255,0.07);
    color: rgba(255,255,255,0.28);
}

.basement a {
    color: rgba(255,255,255,0.80);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.basement a:hover {
    color: #1abc9c;
    text-decoration: none;
}

.site-info {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* /Basement */

/* /Content */