body {
    font-family: FFDINWebLight,'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

pre { margin: 0; padding: 10px 20px !important;}


/* ------ ------*/


.yamm .sub-menu{
    padding-left: 15px !important;
    padding-right: 14px !important;
}

div.sub-menu-item {
    padding-left: 0px;
    padding-right: 0px;
}

div.sub-menu-item a {
    text-align: center;
    text-transform: uppercase;
}

div.sub-menu-item a img {
     width: 100%;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}











