body {
    font-family: FFDINWebLight,'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

pre { margin: 0; padding: 10px 20px !important;}


/* Top-Bar */

.topbar {
    background-color: #4c5fab;
    color: rgba(255,255,255,0.90);
    font-weight: bold;
    vertical-align: middle;
}



.topbar-left {
    float: none;
    text-align: center;
}

.topbar-right {
    float: none;
    text-align: center;
}

@media (min-width: 768px) {
    .topbar-left {
        float: left;
        text-align: left;
    }

    .topbar-right {
        float: right;
        text-align: right;
    }
}


.motto {
    line-height: 33px;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.get-connected
{
    line-height: 33px;
    font-size: 13px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;   
}

@media (min-width: 768px) {
 .motto {
        padding-top: 3px;
        padding-bottom: 2px;  
    }
 .get-connected {
        padding-top: 3px;
        padding-bottom: 2px;  
    }
}

ul.get-connected li a
{
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px; 
    font-size: 14px;
    text-align: center;
} 

ul.get-connected li a:hover
{
    background-color: #0B84B3;
} 

/* /Top-Bar */


/* Sticky */


.affix {
    top: 0;
}

.topmenu
{
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.42);
    vertical-align: middle;
    z-index: 10;
    left: 0px;  
    right: 0px;
    position: fixed;
}

header .affix-top {
    height: 79px;
}

header .affix {
    height: 73px;
}


header .affix-top .topmenu-container .topmenu-navbar-header .topmenu-left a img.header-logo {
    height: 49px;
}

header .affix .topmenu-container .topmenu-navbar-header .topmenu-left a img.header-logo {
    margin-top: 4px;
    height: 35px;
}

.topmenu-left
{
    padding-left: 0px;
    float: left;
    white-space: nowrap; 
    height: 100%;
    vertical-align: middle;
}

img.header-logo {
    vertical-align: middle;
}

.topmenu-right
{
    float: right;
}



header .affix-top .topmenu-container .topmenu-right  .topmenu-list {
    height: 79px;
}

header .affix .topmenu-container .topmenu-right .topmenu-list {
    height: 73px;
}

header .affix-top .topmenu-container .topmenu-right  .topmenu-list li a {
    line-height: 78px;
}

header .affix .topmenu-container .topmenu-right .topmenu-list li a  {
    line-height: 72px;
}



ul.nav li {
    height: 100%;
    vertical-align: middle;
    border-top: 1px solid transparent;
}

ul.nav li:hover {
    border-top: 1px solid #4c5faa;
    color: #4c5faa;
}


ul.nav li a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #333333;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;    
}

ul.nav li.active a {
    color: #4c5faa;
}

ul.nav li a:hover {
    background-color: transparent;
    color: #4c5faa;
}

.dropdown-menu {
    border-top: 1px solid #4c5faa;
    padding-top: 0px;   
    padding-bottom: 0px;  
}


.dropdown:hover .dropdown-menu {
    display: block;
}

ul.dropdown-menu li {
    height: 35px;
    border-width: 0px;
    border-style: none;
    display: block;
}

ul.dropdown-menu li:hover {
    border-width: 0px;
    border-style: none  
}

ul.dropdown-menu li a {
    text-transform: none;
    font-size: 14px;
    line-height: 35px !important;
    border-width: 0px;
    border-style: none
}



ul.dropdown-menu li a:hover {
    border-width: 0px;
    border-style: none;
    background-color: #EEEEEE;
    color: #1abc9c;
}

ul.is-submenu {
  list-style-type: none;
}

.search-link a {
    border-top-width: 0px !important;
    font-size: 14px !important;
    padding-right: 0px !important;
}

.search-link a:hover 
{
    border-top-width:  0px !important;
}



.topmenu .navbar-toggle {
    border-color: #ddd;
}

.topmenu .navbar-toggle:focus, .topmenu .navbar-toggle:hover {
    background-color: #ddd;
}

.topmenu .navbar-toggle .icon-bar {
    background-color: #888;
}

.topmenu .icon-bar+.icon-bar {
    margin-top: 4px;
}

.topmenu .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}


.topmenu-right.collapsing {
    float: none; 
    background-color: #ffffff;
    opacity: 0.9; 
}


.topmenu-right.collapse.in {
    float: none; 
    background-color: #ffffff;
    opacity: 0.9; 
}


.topmenu-right.collapse.in  > ul > li {
    height: 46px;
}

@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: block !important;
   }
}

/* /Sticky */


/* ------ ------*/


.yamm .sub-menu{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

div.sub-menu-item {
    padding-left: 0px;
    padding-right: 0px;
}

div.sub-menu-item a {
    text-align: center;
    text-transform: uppercase;
}

div.sub-menu-item a img {
     width: 100%;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 540px;
}












