html {height:100%;}
body {

 font-family:Tahoma,Arial,sans-serif;
 margin:0px;
 font-size:12px;
 background-color:#EDEDED;
}

td.headerRight
{
	text-align:right;
	}



div.lang 
{
	width:26px;
	height:22px;
	text-align:center;
	vertical-align:middle;
	line-height:16px;
	font-weight:bold;
	}

div.langSelected
{
	text-decoration: none;
	background-image:url(Images/SelectedLangBack.png);
	background-repeat:no-repeat;
	background-position:center center;
	color: #669966;
	}
	

div.langAvailable
{
	cursor:pointer;
	}
	
		
	
div.slogan1
{
	padding-left:20px;
	font-weight:800;
	font-size: 20px;
}
div.slogan2
{
	padding-left:100px;
	font-weight:400;
	font-size: 18px;
	}

td.logo
{
	background-image:url(Images/WhiteCuska.png);
	background-repeat:no-repeat;
	background-position:left top;
	width:106px;
	height:68px;
	cursor:pointer;
	}

td.filled
{
     background-color: #669966;
	 color:#FFFFFF;
	}

td.filledCorner
{
	width:12px;
	height:12px;
	}
	
td.filledCornerLeftUp
{
	background-image:url(Images/FilledCornerLeftUp.png);
	background-repeat:no-repeat;
	background-position:left top;
	}	

td.filledCornerLeftDown
{
	background-image:url(Images/FilledCornerLeftDown.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	}
	
td.filledCornerRightUp
{
	background-image:url(Images/FilledCornerRightUp.png);
	background-repeat:no-repeat;
	background-position:right top;
	}	

td.filledCornerRightDown
{
	background-image:url(Images/FilledCornerRightDown.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	}
	
.footer {
color:#FFFFFF;
font-size:11px;
}

.footer p 
{	
	border-right:1px solid #99D595;
	float:left;
	margin:18px 0;
	padding:0 20px;
}	

.copyright {
color:#666666;
font-size:10px;
padding:0 10px 0 0;
text-align:right;
}	

td.menuContainer
{
	vertical-align:top;
	width:190px;
	}
	
td.contentContainer
{
	vertical-align:top;
	}	
	
div.contentContainerInner
{
	margin-left:12px;
	
	}
	
.boxBorder {
	border: #ccc 1px solid; 
	padding: 5px;  
	background: #FFFFFF; 
	margin: 0px; 
}

.boxBorder .menuBoxInner {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; 
	PADDING-BOTTOM: 10px; PADDING-TOP: 7px
}

.boxInner 
{
}
	
.boxShadow {
	FONT-SIZE: 0px; BACKGROUND: #dfdfdf;
	MARGIN: 0px 4px; LINE-HEIGHT: 0; HEIGHT: 2px
}
	
	
.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu LI {
	DISPLAY: block; BORDER-BOTTOM: #e7e7e7 1px solid
}
.menu LI.last {
	BORDER-BOTTOM: 0px
}
.menu LI A {
	PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 12px; WIDTH: 140px; COLOR: #000; PADDING-TOP: 12px; TEXT-DECORATION: none
}
.menu LI A:hover {
	COLOR: #669966
}
.menu LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu LI UL LI {
	BORDER-TOP: #e7e7e7 1px solid; DISPLAY: block; BORDER-BOTTOM: 0px
}
.menu LI UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; WIDTH: 135px; COLOR: #333; PADDING-TOP: 7px; TEXT-DECORATION: none
}
.menu LI UL LI A:hover {
	COLOR: #669966;
}
.menu LI UL LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu LI UL LI UL LI {
	BORDER-TOP: #e7e7e7 1px solid; DISPLAY: block; BORDER-BOTTOM: 0px
}
.menu LI UL LI UL LI A {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; WIDTH: 115px; COLOR: #333; PADDING-TOP: 7px; TEXT-DECORATION: none
}
.menu LI UL LI UL LI A:hover {
	BACKGROUND: url(images/ArrowRight.gif) no-repeat 8px 11px; COLOR: #669966
}

li.menuThisPage {
	BACKGROUND: #f5f5f5;
}

li.menuThisPage A
{
	color: #669966;
}

.menuLink
{
	width:100%;
	}

DIV.ShortArticle .ContentHeader IMG {
	BORDER-RIGHT: #c2c2c2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c2c2c2 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; FLOAT: right; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 10px 17px; BORDER-LEFT: #c2c2c2 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #c2c2c2 1px solid
}
DIV.ShortArticle .ContentHeader A:hover IMG {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-BOTTOM: #e7e7e7 1px solid
}

.ContentHeader {
	MARGIN: 0px 0px 20px
}


.ContentText P {
	MARGIN: 0px
}
A {
	COLOR: #669966; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}


.RelatedLink {
	COLOR: #669966; TEXT-DECORATION: underline
}

.RelatedLink:hover {
	COLOR: #669966; TEXT-DECORATION: none
}

.ContentTitle {
color:#669966;
font-size:20px;
letter-spacing:-0.02em;
margin:0 0 5px;
padding:0;
}

